[core]
    pager = delta
    fsmonitor = true
    untrackedcache = true

[pager]
    difftool = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false
    side-by-side = true
    line-numbers = true

[merge]
    conflictstyle = zdiff3
    ff = only

[push]
    followTags = true
    autoSetupRemote = true

[diff]
    colorMoved = default
    tool = difftastic
    algorithm = histogram

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential

[feature]
    manyFiles = true
[init]
    defaultBranch = main
[branch]
    sort = -committerdate
[rebase]
    autosquash = true
[help]
    autocorrect = 10

[alias]
    dft = difftool
    prune = fetch --prune
    undo = reset --soft HEAD^
    stash-all = stash save --include-untracked
    glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Cre>remove-gone-branches = !git branch -vv | sed 's/^\\*//' | grep ': gone]' | awk '{print $1}' | (xargs git b>
